@model List<IDFit.Web.ViewModels.Trainings.TrainingViewModel>
@{
    this.ViewData["Title"] = $"All Trainings";
}

<div class="text-center">
    <h1 class="display-4">@this.ViewData["Title"]</h1>
</div>
<div class="card-body">
    <a class="btn btn-primary badge-pill" asp-controller="Trainings" asp-action="CreateTraining" role="button">Add Training</a>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Training Time (min)</th>
                <th>Count of Exercises</th>
                <th>Count of User</th>
                <th>Options</th>
            </tr>
        </thead>
        @foreach (var training in Model)
        {
            <tbody>
                <tr class="table-info">
                    <td>@training.Name</td>
                    <td>@training.Description</td>
                    <td>@training.TrainingTime</td>
                    <td>@training.ExercisesCount</td>
                    <td>@training.UsersCount</td>
                    <td>
                        <form asp-controller="Trainings" asp-action="DeleteTraining" asp-route-id="@training.Id" method="post">
                            <a asp-controller="Trainings" asp-action="EditTraining" asp-route-id="@training.Id" class="btn btn-primary badge-pill">Edit</a>
                            <button type="submit" class="btn btn-danger badge-pill">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>

