@model IEnumerable<IDFit.Data.Models.ApplicationRole>
@{
    this.ViewData["Title"] = "All Roles";
}

<h1>@this.ViewData["Title"]</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-area="Administration" asp-controller="Administration" asp-action="CreateRole">Create New Role</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                Role Id: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">Role Name: @role.Name</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                    <a class="btn btn-success" asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id">
                        Edit
                    </a>

                    <span id="confirmDeleteSpan_@role.Id" style="display:none">
                        <span>Are you sure you  want to delete?</span>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a href="#" class="btn btn-primary" onclick="confirmDelete('@role.Id', false)">No</a>
                    </span>
                    <span id="deleteSpan_@role.Id">
                        <a href="#" class="btn btn-danger" onclick="confirmDelete('@role.Id', true)">
                            Delete
                        </a>
                    </span>

                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            There are no roles for now
        </div>
        <div class="card-body">
            <h5 class="card-title">Create role with the button below</h5>
            <a class="btn btn-primary mb-3" style="width:auto" asp-area="Administration" asp-controller="Administration" asp-action="CreateRole">Create Role</a>
        </div>
    </div>
}

@section Scripts{ 
    <script src="~/js/CustromScript.js"></script>
}