@using IDFit.Common
@model IDFit.Web.ViewModels.Coaches.AllCoachesViewModel
@{
    this.ViewData["Title"] = $"Our Coaches!";
}

<div class="text-center">
    <h1 class="display-4">@this.ViewData["Title"]</h1>
</div>

<div class="row">
    @foreach (var coach in Model.Coaches)
    {
        <div class="card" style="width: 18rem;">
            <img src="@coach.ImageUrl" class="card-img-top" alt="@coach.UserName">
            <div class="card-body">
                <h5 class="card-title">@coach.FirstName @coach.LastName </h5>
                <p class="card-text">@coach.Description</p>
                <a asp-controller="Coaches" asp-action="Coach" asp-route-id="@coach.Id" class="btn btn-primary">Trainer</a>
                @*<a href="@coach.Url" asp-controller="Coaches" asp-action="Coach" asp-route-id="@coach.Id" class="btn btn-primary">Trainer</a>*@
            </div>
        </div>
    }
</div>