@model IDFit.Web.ViewModels.Coaches.TrainedUserViewModel
@{
    this.ViewData["Title"] = $"Update your user";
    var photoPath = "~/images/" + (Model.ImageUrl ?? "noimage.jpg");
}

<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <img src="@photoPath" width="200" height="150" alt="" class="img-rounded img-responsive" asp-append-version="true" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>@Model.FirstName @Model.LastName</p> <small><cite title="Source Title">@Model.UserName<i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p>
                <i class="glyphicon glyphicon-envelope"></i>@Model.Age age
                <br /> <i class="glyphicon glyphicon-globe"></i>(@Model.Description)
                <br /> <i class="glyphicon glyphicon-gift"></i> Coach: @Model.CoachUserName
            </p>
        </div>


        <div class="col-sm-2 col-md-4">
            @*<center>
            <a class="btn btn-primary badge-pill">Edit Diet</a>
        </center>*@
            <br />
            @if (Model.Diet != null)
            {
                <p>
                    <strong style="color:blue"> @Model.Diet.Name</strong>
                    <br />
                    <i></i><i style="color:blue"> @Model.Diet.Description</i>
                    <br /> <i style="color:blue">@((Model.Diet.EndTime - DateTime.UtcNow).Days)</i>  <i></i> Days Left
                    <br /> <i style="color:blue">@Model.Diet.Foods.Count</i>  <i></i> FoodsCount
                </p>
                <center>
                    <p><a asp-controller="Coaches" asp-action="AddDietToUser" asp-route-userId="@Model.Id" class="btn btn-primary badge-pill">Edit Diet</a></p>
                </center>
            }
            else
            {
                <p>@Model.UserName has no <a asp-controller="Coaches" asp-action="AddDietToUser" asp-route-userId="@Model.Id" class="btn-outline-primary">diet !</a></p>
            }
        </div>
    </div>

    <br />
    <div class="card-body">
        <a class="btn btn-primary badge-pill" asp-controller="Coaches" asp-action="AddOrRemoveTrainigForUser" asp-route-userId="@Model.Id" >Select Trainings</a>
        <a class="btn btn-secondary badge-pill" asp-area="" asp-controller="Users" asp-action="UserProfile">Cancel</a>
        <br />
        <br />
        <div class="card-header" style="background-color:lightblue">
            <center>
                <h3>User Trainings</h3>
            </center>
        </div>

        <ul class="list-group">

            @if (Model.Trainings.Any())
            {
                foreach (var item in Model.Trainings)
                {
                    if (item.Description != null)
                    {
                        <li class="list-group-item list-group-item-light">
                            <strong>@item.Name</strong> -  @item.Description - Exercises (@item.ExercisesCount)
                        </li>
                    }
                    else
                    {
                        <li class="list-group-item list-group-item-light">
                            <strong>@item.Name</strong> - Exercises (@item.ExercisesCount)
                        </li>
                    }
                }
            }
            else
            {
                <li class="list-group-item list-group-item-light">There is no trainings</li>
            }
        </ul>
    </div>
</div>


