@using IDFit.Common
@model IDFit.Web.ViewModels.Coaches.CoachViewModel
@{
    var userCoachId = ViewBag.userCoachId;
    this.ViewData["Title"] = $"Coach!";
    var photoPath = "~/images/" + (Model.ImageUrl ?? "noimage.jpg");

}

@*@if (Model.ImageUrl != null)
    {*@
<center>
    <img src="@photoPath" height="200" width="200" alt="..." asp-append-version="true">
</center>
@*}*@

<div class="card-body">
    <center><h5 class="card-title">@Model.FirstName @Model.LastName</h5></center>
    <center><p class="card-text">@Model.Description</p></center>
</div>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Age
        <span class="badge badge-primary badge-pill">@Model.Age</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Phone Number
        <span class="badge badge-primary badge-pill">@Model.PhoneNumber</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Email Adrees
        <span class="badge badge-primary badge-pill">@Model.UserName</span>
    </li>
</ul>

<center>
    @if (!User.IsInRole(GlobalConstants.CoachRoleName) && !User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        @if (userCoachId == Model.Id)
        {
            <form asp-controller="Users" asp-action="RemoveCoachFromUser" asp-route-coachId="@Model.Id" method="post" class="mt-3">
                <button type="submit" class="btn btn-danger badge-pill">Remove My Trainer</button>
            </form>
        }
        else
        {
            <form asp-controller="Users" asp-action="AddCoachToUser" asp-route-coachId="@Model.Id" method="post" class="mt-3">
                <button type="submit" class="btn btn-primary badge-pill">Become My Trainer</button>
            </form>
        }
    }
    else
    {

    }
</center>