@model IDFit.Web.ViewModels.Users.UserProfilViewModel
@{
    this.ViewData["Title"] = "Your's Page";
    var photoPath = "~/images/" + (Model.PhotoPath ?? "noimage.jpg");
}

@if (Model.CoachId == null)
{
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">You don't have a diet !</h4>
        <p>@Model.UserName you need to pick a coach to give you a diet.</p>
        <hr>
        <a asp-controller="Coaches" asp-action="All" class="btn btn-success badge-pill">Select Coach</a>
    </div>
}
else
{
    if (Model.DietId == null)
    {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">@Model.CoachUserName is your coach.</h4>
            <p>@Model.UserName wait your coach to pick you a diet</p>
            <hr>
            <a asp-controller="Home" asp-action="Index" class="btn btn-success badge-pill">Go Home</a>
        </div>
    }
    else
    {
        <center><h3 class="text-primary">Your Diet @Model.FirstName</h3></center>

        <div class="card text-center">
            <div class="card-header ">
                @Model.Diet.Name
            </div>
            <div class="card-body">
                <h5 class="card-title">Description:</h5>
                <p class="card-text">@Model.Diet.Description</p>
                <h5 class="card-title">Foods:</h5>
                <p class="card-text">
                    @if (Model.Diet.Foods.Any())
                    {
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Grams</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>

                                @foreach (var food in Model.Diet.Foods)
                                {
                                    <tbody>
                                        <tr class="table-striped">
                                            <td>@food.Name</td>
                                            <td>@food.Weight grams</td>
                                            <td>@food.Quantity pieces</td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>
                    }
                    else
                    {
                        <div>There is no foods</div>
                    }


                </p>
                <a asp-controller="Users" asp-action="UserProfile" class="btn btn-secondary badge-pill">Cancel</a>
            </div>
            <div class="card-footer text-muted">
                @(Model.Diet.EndTime.Day - DateTime.UtcNow.Day) days left.
            </div>
        </div>
    }
}
