@model IDFit.Web.ViewModels.Diets.CreateDietViewModel
@{
    this.ViewData["Title"] = $"Create Diet";
}

<h1>@this.ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"> </div>
            <div class="form-group">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.StartTime"></label>
                <input asp-for="@Model.StartTime" class="form-control" />
                <span asp-validation-for="@Model.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.EndTime"></label>
                <input asp-for="@Model.EndTime" class="form-control" />
                <span asp-validation-for="@Model.EndTime" class="text-danger"></span>
            </div>
            <button style="width:auto" type="submit" class="btn btn-primary">Create Diet</button>
            <a asp-action="AllDiets" class="btn btn-dark">Cancel</a>
        </form>
    </div>
</div>